In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Salary_Dataset.csv")

In [3]:
country_names=pd.get_dummies(df['country'])

In [4]:
df['country_code']=country_names.astype(str).apply(''.join,axis=1)

In [5]:
df=df[['country','country_code' ,'Salary', 'YearsExperience', 'Purchased']]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le=LabelEncoder()
df['Purchased']=le.fit_transform(df['Purchased'])

In [8]:
X=df.iloc[:,1:-1]
Y=df.iloc[:,-1]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=45,)

In [10]:
X_train.head(3)

   country_code    Salary  YearsExperience
19         0100   93940.0              6.0
24         0010  109431.0              8.7
6          0100   60150.0              3.0

In [11]:
X_test.head(3)

   country_code    Salary  YearsExperience
16         0001   66029.0              5.1
27         0001  112635.0              9.6
25         1000  105582.0              9.0

In [13]:
y_train.head(3)

19    0
24    0
6     1
Name: Purchased, dtype: int32

In [15]:
y_test.head(3)

16    0
27    1
25    1
Name: Purchased, dtype: int32

In [16]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [17]:
X_train.iloc[:,1:]=sc.fit_transform(X_train.iloc[:,1:])

In [18]:
X_test.iloc[:,1:]=sc.fit_transform(X_test.iloc[:,1:])