In [29]:
import pandas as pd
import numpy as np

In [30]:
df=pd.read_excel("newdata.xlsx")

In [31]:
df.head()

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,3,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,4,2,NaN,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         204 non-null    int64
 1   symboling          204 non-null    int64
 2   normalized-losses  164 non-null    float64
 3   make               204 non-null    object
 4   fuel-type          204 non-null    object
 5   aspiration         204 non-null    object
 6   num-of-doors       202 non-null    object
 7   body-style         204 non-null    object
 8   drive-wheels       204 non-null    object
 9   engine-location    204 non-null    object
 10  wheel-base         204 non-null    float64
 11  length             204 non-null    float64
 12  width              204 non-null    float64
 13  height             204 non-null    float64
 14  curb-weight        204 non-null    int64
 15  engine-type        204 non-null    object
 16  num-of-cylinders   204 non-null    object
 17  engine-size        204 non-null    int64
 18  fuel-system        204 non-null    object
 19  bore               200 non-null    float64
 20  stroke             200 non-null    float64
 21  compression-ratio  204 non-null    float64
 22  horsepower         202 non-null    float64
 23  peak-rpm           202 non-null    float64
 24  city-mpg           204 non-null    int64
 25  highway-mpg        204 non-null    int64
 26  price              200 non-null    float64
dtypes: float64(11), int64(6), object(10)
memory usage: 43.2+ KB

In [33]:
df.isnull().sum()

Unnamed: 0            0
symboling             0
normalized-losses    40
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [34]:
df.columns[df.isnull().sum()>0]

Index(['normalized-losses', 'num-of-doors', 'bore', 'stroke', 'horsepower',
       'peak-rpm', 'price'],
      dtype='object')

In [35]:
df[['normalized-losses', 'num-of-doors', 'bore', 'stroke', 'horsepower',
       'peak-rpm', 'price']]

,normalized-losses,num-of-doors,bore,stroke,horsepower,peak-rpm,price
0,NaN,two,3.47,2.68,111.0,5000.0,16500.0
1,NaN,two,2.68,3.47,154.0,5000.0,16500.0
2,164.0,four,3.19,3.40,102.0,5500.0,13950.0
3,164.0,four,3.19,3.40,115.0,5500.0,17450.0
4,NaN,two,3.19,3.40,110.0,5500.0,15250.0
...,...,...,...,...,...,...,...
199,95.0,four,3.78,3.15,114.0,5400.0,16845.0
200,95.0,four,3.78,3.15,160.0,5300.0,19045.0
201,95.0,four,3.58,2.87,134.0,5500.0,21485.0
202,95.0,four,3.01,3.40,106.0,4800.0,22470.0
203,95.0,four,3.78,3.15,114.0,5400.0,22625.0

In [36]:
mean_normalized=df['normalized-losses'].mean()

In [55]:
mean_normalized

122.0

In [62]:
mean_noOfDoors=df['num-of-doors'].mode()

In [63]:
mean_noOfDoors

0    four
Name: num-of-doors, dtype: object

list

In [38]:
mean_bore=df['bore'].mean()

In [39]:
mean_stroke=df['stroke'].mean()

In [40]:
mean_horepower=df['horsepower'].mean()

In [41]:
mean_rpm=df['peak-rpm'].mean()

In [42]:
mean_price=df['price'].mean()

In [43]:
df['normalized-losses'].replace(np.nan,mean_normalized,inplace=True)

In [64]:
df['num-of-doors'].replace(np.nan,'four',inplace=True)

In [45]:
df['bore'].replace(np.nan,mean_bore,inplace=True)

In [46]:
df['stroke'].replace(np.nan,mean_stroke,inplace=True)

In [48]:
df['horsepower'].replace(np.nan,mean_horepower,inplace=True)

In [49]:
df['peak-rpm'].replace(np.nan,mean_rpm,inplace=True)

In [50]:
df['price'].replace(np.nan,mean_price,inplace=True)

In [65]:
df.isnull().sum().sum()

0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         204 non-null    int64
 1   symboling          204 non-null    int64
 2   normalized-losses  204 non-null    float64
 3   make               204 non-null    object
 4   fuel-type          204 non-null    object
 5   aspiration         204 non-null    object
 6   num-of-doors       204 non-null    object
 7   body-style         204 non-null    object
 8   drive-wheels       204 non-null    object
 9   engine-location    204 non-null    object
 10  wheel-base         204 non-null    float64
 11  length             204 non-null    float64
 12  width              204 non-null    float64
 13  height             204 non-null    float64
 14  curb-weight        204 non-null    int64
 15  engine-type        204 non-null    object
 16  num-of-cylinders   204 non-null    object
 17  engine-size        204 non-null    int64
 18  fuel-system        204 non-null    object
 19  bore               204 non-null    float64
 20  stroke             204 non-null    float64
 21  compression-ratio  204 non-null    float64
 22  horsepower         204 non-null    float64
 23  peak-rpm           204 non-null    float64
 24  city-mpg           204 non-null    int64
 25  highway-mpg        204 non-null    int64
 26  price              204 non-null    float64
dtypes: float64(11), int64(6), object(10)
memory usage: 43.2+ KB