In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("newdata.xlsx")

In [3]:
df.head()

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,3,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,4,2,NaN,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         204 non-null    int64
 1   symboling          204 non-null    int64
 2   normalized-losses  164 non-null    float64
 3   make               204 non-null    object
 4   fuel-type          204 non-null    object
 5   aspiration         204 non-null    object
 6   num-of-doors       202 non-null    object
 7   body-style         204 non-null    object
 8   drive-wheels       204 non-null    object
 9   engine-location    204 non-null    object
 10  wheel-base         204 non-null    float64
 11  length             204 non-null    float64
 12  width              204 non-null    float64
 13  height             204 non-null    float64
 14  curb-weight        204 non-null    int64
 15  engine-type        204 non-null    object
 16  num-of-cylinders   204 non-null    object
 17  engine-size        204 non-null    int64
 18  fuel-system        204 non-null    object
 19  bore               200 non-null    float64
 20  stroke             200 non-null    float64
 21  compression-ratio  204 non-null    float64
 22  horsepower         202 non-null    float64
 23  peak-rpm           202 non-null    float64
 24  city-mpg           204 non-null    int64
 25  highway-mpg        204 non-null    int64
 26  price              200 non-null    float64
dtypes: float64(11), int64(6), object(10)
memory usage: 43.2+ KB

In [6]:
df.isnull().sum()

Unnamed: 0            0
symboling             0
normalized-losses    40
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [7]:
df.columns[df.isnull().sum()>0]

Index(['normalized-losses', 'num-of-doors', 'bore', 'stroke', 'horsepower',
       'peak-rpm', 'price'],
      dtype='object')

In [9]:
imputer_mean=SimpleImputer(missing_values=np.nan,strategy='mean')

In [15]:
df[['normalized-losses','bore', 'stroke', 'horsepower',
       'peak-rpm', 'price']]=imputer_mean.fit_transform(df[['normalized-losses','bore', 'stroke', 'horsepower',
       'peak-rpm', 'price']]).astype('object')

In [16]:
imputer_mode=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
df[['num-of-doors']]=imputer_mode.fit_transform(df[['num-of-doors']])

In [17]:
df.isnull().sum()

Unnamed: 0           0
symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [18]:
df.head()

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
3,3,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0
4,4,2,122.0,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.4,8.5,110.0,5500.0,19,25,15250.0

In [19]:
df.to_excel("predata.xlsx")