In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('aapl_no_dates.csv')
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [3]:
rng=pd.date_range(start='7/1/2017',end='7/21/2017',freq='B')
rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [4]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [6]:
usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [8]:
rrng=pd.date_range(start='7/1/2017',end='7/21/2017',freq=usb)
rrng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [10]:
df.set_index(rrng,inplace=True)
df.head()

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636

In [27]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday,Holiday
class homiesbirthdays(AbstractHolidayCalendar):
    rules=[
        Holiday('Thakur"s birtday',month=2,day=27),
        Holiday('Shuv"s birtday',month=7,day=25),
        Holiday('Kritartha"s birtday',month=11,day=14),
    ]

hol=CustomBusinessDay(calendar=homiesbirthdays())
hol

In [28]:
drange=pd.date_range(start='1/1/2024',end='12/31/2024',freq=hol)

In [29]:
output=list(drange)

In [30]:
output

[Timestamp('2024-01-01 00:00:00', freq='C'),
 Timestamp('2024-01-02 00:00:00', freq='C'),
 Timestamp('2024-01-03 00:00:00', freq='C'),
 Timestamp('2024-01-04 00:00:00', freq='C'),
 Timestamp('2024-01-05 00:00:00', freq='C'),
 Timestamp('2024-01-08 00:00:00', freq='C'),
 Timestamp('2024-01-09 00:00:00', freq='C'),
 Timestamp('2024-01-10 00:00:00', freq='C'),
 Timestamp('2024-01-11 00:00:00', freq='C'),
 Timestamp('2024-01-12 00:00:00', freq='C'),
 Timestamp('2024-01-15 00:00:00', freq='C'),
 Timestamp('2024-01-16 00:00:00', freq='C'),
 Timestamp('2024-01-17 00:00:00', freq='C'),
 Timestamp('2024-01-18 00:00:00', freq='C'),
 Timestamp('2024-01-19 00:00:00', freq='C'),
 Timestamp('2024-01-22 00:00:00', freq='C'),
 Timestamp('2024-01-23 00:00:00', freq='C'),
 Timestamp('2024-01-24 00:00:00', freq='C'),
 Timestamp('2024-01-25 00:00:00', freq='C'),
 Timestamp('2024-01-26 00:00:00', freq='C'),
 Timestamp('2024-01-29 00:00:00', freq='C'),
 Timestamp('2024-01-30 00:00:00', freq='C'),
 Timestamp('2024-01-31 00:00:00', freq='C'),
 Timestamp('2024-02-01 00:00:00', freq='C'),
 Timestamp('2024-02-02 00:00:00', freq='C'),
 Timestamp('2024-02-05 00:00:00', freq='C'),
 Timestamp('2024-02-06 00:00:00', freq='C'),
 Timestamp('2024-02-07 00:00:00', freq='C'),
 Timestamp('2024-02-08 00:00:00', freq='C'),
 Timestamp('2024-02-09 00:00:00', freq='C'),
 Timestamp('2024-02-12 00:00:00', freq='C'),
 Timestamp('2024-02-13 00:00:00', freq='C'),
 Timestamp('2024-02-14 00:00:00', freq='C'),
 Timestamp('2024-02-15 00:00:00', freq='C'),
 Timestamp('2024-02-16 00:00:00', freq='C'),
 Timestamp('2024-02-19 00:00:00', freq='C'),
 Timestamp('2024-02-20 00:00:00', freq='C'),
 Timestamp('2024-02-21 00:00:00', freq='C'),
 Timestamp('2024-02-22 00:00:00', freq='C'),
 Timestamp('2024-02-23 00:00:00', freq='C'),
 Timestamp('2024-02-26 00:00:00', freq='C'),
 Timestamp('2024-02-28 00:00:00', freq='C'),
 Timestamp('2024-02-29 00:00:00', freq='C'),
 Timestamp('2024-03-01 00:00:00', freq='C'),
 Timestamp('2024-03-04 00:00:00', freq='C'),
 Timestamp('2024-03-05 00:00:00', freq='C'),
 Timestamp('2024-03-06 00:00:00', freq='C'),
 Timestamp('2024-03-07 00:00:00', freq='C'),
 Timestamp('2024-03-08 00:00:00', freq='C'),
 Timestamp('2024-03-11 00:00:00', freq='C'),
 Timestamp('2024-03-12 00:00:00', freq='C'),
 Timestamp('2024-03-13 00:00:00', freq='C'),
 Timestamp('2024-03-14 00:00:00', freq='C'),
 Timestamp('2024-03-15 00:00:00', freq='C'),
 Timestamp('2024-03-18 00:00:00', freq='C'),
 Timestamp('2024-03-19 00:00:00', freq='C'),
 Timestamp('2024-03-20 00:00:00', freq='C'),
 Timestamp('2024-03-21 00:00:00', freq='C'),
 Timestamp('2024-03-22 00:00:00', freq='C'),
 Timestamp('2024-03-25 00:00:00', freq='C'),
 Timestamp('2024-03-26 00:00:00', freq='C'),
 Timestamp('2024-03-27 00:00:00', freq='C'),
 Timestamp('2024-03-28 00:00:00', freq='C'),
 Timestamp('2024-03-29 00:00:00', freq='C'),
 Timestamp('2024-04-01 00:00:00', freq='C'),
 Timestamp('2024-04-02 00:00:00', freq='C'),
 Timestamp('2024-04-03 00:00:00', freq='C'),
 Timestamp('2024-04-04 00:00:00', freq='C'),
 Timestamp('2024-04-05 00:00:00', freq='C'),
 Timestamp('2024-04-08 00:00:00', freq='C'),
 Timestamp('2024-04-09 00:00:00', freq='C'),
 Timestamp('2024-04-10 00:00:00', freq='C'),
 Timestamp('2024-04-11 00:00:00', freq='C'),
 Timestamp('2024-04-12 00:00:00', freq='C'),
 Timestamp('2024-04-15 00:00:00', freq='C'),
 Timestamp('2024-04-16 00:00:00', freq='C'),
 Timestamp('2024-04-17 00:00:00', freq='C'),
 Timestamp('2024-04-18 00:00:00', freq='C'),
 Timestamp('2024-04-19 00:00:00', freq='C'),
 Timestamp('2024-04-22 00:00:00', freq='C'),
 Timestamp('2024-04-23 00:00:00', freq='C'),
 Timestamp('2024-04-24 00:00:00', freq='C'),
 Timestamp('2024-04-25 00:00:00', freq='C'),
 Timestamp('2024-04-26 00:00:00', freq='C'),
 Timestamp('2024-04-29 00:00:00', freq='C'),
 Timestamp('2024-04-30 00:00:00', freq='C'),
 Timestamp('2024-05-01 00:00:00', freq='C'),
 Timestamp('2024-05-02 00:00:00', freq='C'),
 Timestamp('2024-05-03 00:00:00', freq='C'),
 Timestamp('2024-05-06 00:00:00', freq='C'),
 Timestamp('2024-05-07 00:00:00', freq='C'),
 Timestamp('2024-05-08 00:00:00', freq='C'),
 Timestamp('2024-05-09 00:00:00', freq='C'),
 Timestamp('2024-05-10 00:00:00', freq='C'),
 Timestamp('2024-05-13 00:00:00', freq='C'),
 Timestamp('2024-05-14 00:00:00', freq='C'),
 Timestamp('2024-05-15 00:00:00', freq='C'),
 Timestamp('2024-05-16 00:00:00', freq='C'),
 Timestamp('2024-05-17 00:00:00', freq='C'),
 Timestamp('2024-05-20 00:00:00', freq='C'),
 Timestamp('2024-05-21 00:00:00', freq='C'),
 Timestamp('2024-05-22 00:00:00', freq='C'),
 Timestamp('2024-05-23 00:00:00', freq='C'),
 Timestamp('2024-05-24 00:00:00', freq='C'),
 Timestamp('2024-05-27 00:00:00', freq='C'),
 Timestamp('2024-05-28 00:00:00', freq='C'),
 Timestamp('2024-05-29 00:00:00', freq='C'),
 Timestamp('2024-05-30 00:00:00', freq='C'),
 Timestamp('2024-05-31 00:00:00', freq='C'),
 Timestamp('2024-06-03 00:00:00', freq='C'),
 Timestamp('2024-06-04 00:00:00', freq='C'),
 Timestamp('2024-06-05 00:00:00', freq='C'),
 Timestamp('2024-06-06 00:00:00', freq='C'),
 Timestamp('2024-06-07 00:00:00', freq='C'),
 Timestamp('2024-06-10 00:00:00', freq='C'),
 Timestamp('2024-06-11 00:00:00', freq='C'),
 Timestamp('2024-06-12 00:00:00', freq='C'),
 Timestamp('2024-06-13 00:00:00', freq='C'),
 Timestamp('2024-06-14 00:00:00', freq='C'),
 Timestamp('2024-06-17 00:00:00', freq='C'),
 Timestamp('2024-06-18 00:00:00', freq='C'),
 Timestamp('2024-06-19 00:00:00', freq='C'),
 Timestamp('2024-06-20 00:00:00', freq='C'),
 Timestamp('2024-06-21 00:00:00', freq='C'),
 Timestamp('2024-06-24 00:00:00', freq='C'),
 Timestamp('2024-06-25 00:00:00', freq='C'),
 Timestamp('2024-06-26 00:00:00', freq='C'),
 Timestamp('2024-06-27 00:00:00', freq='C'),
 Timestamp('2024-06-28 00:00:00', freq='C'),
 Timestamp('2024-07-01 00:00:00', freq='C'),
 Timestamp('2024-07-02 00:00:00', freq='C'),
 Timestamp('2024-07-03 00:00:00', freq='C'),
 Timestamp('2024-07-04 00:00:00', freq='C'),
 Timestamp('2024-07-05 00:00:00', freq='C'),
 Timestamp('2024-07-08 00:00:00', freq='C'),
 Timestamp('2024-07-09 00:00:00', freq='C'),
 Timestamp('2024-07-10 00:00:00', freq='C'),
 Timestamp('2024-07-11 00:00:00', freq='C'),
 Timestamp('2024-07-12 00:00:00', freq='C'),
 Timestamp('2024-07-15 00:00:00', freq='C'),
 Timestamp('2024-07-16 00:00:00', freq='C'),
 Timestamp('2024-07-17 00:00:00', freq='C'),
 Timestamp('2024-07-18 00:00:00', freq='C'),
 Timestamp('2024-07-19 00:00:00', freq='C'),
 Timestamp('2024-07-22 00:00:00', freq='C'),
 Timestamp('2024-07-23 00:00:00', freq='C'),
 Timestamp('2024-07-24 00:00:00', freq='C'),
 Timestamp('2024-07-26 00:00:00', freq='C'),
 Timestamp('2024-07-29 00:00:00', freq='C'),
 Timestamp('2024-07-30 00:00:00', freq='C'),
 Timestamp('2024-07-31 00:00:00', freq='C'),
 Timestamp('2024-08-01 00:00:00', freq='C'),
 Timestamp('2024-08-02 00:00:00', freq='C'),
 Timestamp('2024-08-05 00:00:00', freq='C'),
 Timestamp('2024-08-06 00:00:00', freq='C'),
 Timestamp('2024-08-07 00:00:00', freq='C'),
 Timestamp('2024-08-08 00:00:00', freq='C'),
 Timestamp('2024-08-09 00:00:00', freq='C'),
 Timestamp('2024-08-12 00:00:00', freq='C'),
 Timestamp('2024-08-13 00:00:00', freq='C'),
 Timestamp('2024-08-14 00:00:00', freq='C'),
 Timestamp('2024-08-15 00:00:00', freq='C'),
 Timestamp('2024-08-16 00:00:00', freq='C'),
 Timestamp('2024-08-19 00:00:00', freq='C'),
 Timestamp('2024-08-20 00:00:00', freq='C'),
 Timestamp('2024-08-21 00:00:00', freq='C'),
 Timestamp('2024-08-22 00:00:00', freq='C'),
 Timestamp('2024-08-23 00:00:00', freq='C'),
 Timestamp('2024-08-26 00:00:00', freq='C'),
 Timestamp('2024-08-27 00:00:00', freq='C'),
 Timestamp('2024-08-28 00:00:00', freq='C'),
 Timestamp('2024-08-29 00:00:00', freq='C'),
 Timestamp('2024-08-30 00:00:00', freq='C'),
 Timestamp('2024-09-02 00:00:00', freq='C'),
 Timestamp('2024-09-03 00:00:00', freq='C'),
 Timestamp('2024-09-04 00:00:00', freq='C'),
 Timestamp('2024-09-05 00:00:00', freq='C'),
 Timestamp('2024-09-06 00:00:00', freq='C'),
 Timestamp('2024-09-09 00:00:00', freq='C'),
 Timestamp('2024-09-10 00:00:00', freq='C'),
 Timestamp('2024-09-11 00:00:00', freq='C'),
 Timestamp('2024-09-12 00:00:00', freq='C'),
 Timestamp('2024-09-13 00:00:00', freq='C'),
 Timestamp('2024-09-16 00:00:00', freq='C'),
 Timestamp('2024-09-17 00:00:00', freq='C'),
 Timestamp('2024-09-18 00:00:00', freq='C'),
 Timestamp('2024-09-19 00:00:00', freq='C'),
 Timestamp('2024-09-20 00:00:00', freq='C'),
 Timestamp('2024-09-23 00:00:00', freq='C'),
 Timestamp('2024-09-24 00:00:00', freq='C'),
 Timestamp('2024-09-25 00:00:00', freq='C'),
 Timestamp('2024-09-26 00:00:00', freq='C'),
 Timestamp('2024-09-27 00:00:00', freq='C'),
 Timestamp('2024-09-30 00:00:00', freq='C'),
 Timestamp('2024-10-01 00:00:00', freq='C'),
 Timestamp('2024-10-02 00:00:00', freq='C'),
 Timestamp('2024-10-03 00:00:00', freq='C'),
 Timestamp('2024-10-04 00:00:00', freq='C'),
 Timestamp('2024-10-07 00:00:00', freq='C'),
 Timestamp('2024-10-08 00:00:00', freq='C'),
 Timestamp('2024-10-09 00:00:00', freq='C'),
 Timestamp('2024-10-10 00:00:00', freq='C'),
 Timestamp('2024-10-11 00:00:00', freq='C'),
 Timestamp('2024-10-14 00:00:00', freq='C'),
 Timestamp('2024-10-15 00:00:00', freq='C'),
 Timestamp('2024-10-16 00:00:00', freq='C'),
 Timestamp('2024-10-17 00:00:00', freq='C'),
 Timestamp('2024-10-18 00:00:00', freq='C'),
 Timestamp('2024-10-21 00:00:00', freq='C'),
 Timestamp('2024-10-22 00:00:00', freq='C'),
 Timestamp('2024-10-23 00:00:00', freq='C'),
 Timestamp('2024-10-24 00:00:00', freq='C'),
 Timestamp('2024-10-25 00:00:00', freq='C'),
 Timestamp('2024-10-28 00:00:00', freq='C'),
 Timestamp('2024-10-29 00:00:00', freq='C'),
 Timestamp('2024-10-30 00:00:00', freq='C'),
 Timestamp('2024-10-31 00:00:00', freq='C'),
 Timestamp('2024-11-01 00:00:00', freq='C'),
 Timestamp('2024-11-04 00:00:00', freq='C'),
 Timestamp('2024-11-05 00:00:00', freq='C'),
 Timestamp('2024-11-06 00:00:00', freq='C'),
 Timestamp('2024-11-07 00:00:00', freq='C'),
 Timestamp('2024-11-08 00:00:00', freq='C'),
 Timestamp('2024-11-11 00:00:00', freq='C'),
 Timestamp('2024-11-12 00:00:00', freq='C'),
 Timestamp('2024-11-13 00:00:00', freq='C'),
 Timestamp('2024-11-15 00:00:00', freq='C'),
 Timestamp('2024-11-18 00:00:00', freq='C'),
 Timestamp('2024-11-19 00:00:00', freq='C'),
 Timestamp('2024-11-20 00:00:00', freq='C'),
 Timestamp('2024-11-21 00:00:00', freq='C'),
 Timestamp('2024-11-22 00:00:00', freq='C'),
 Timestamp('2024-11-25 00:00:00', freq='C'),
 Timestamp('2024-11-26 00:00:00', freq='C'),
 Timestamp('2024-11-27 00:00:00', freq='C'),
 Timestamp('2024-11-28 00:00:00', freq='C'),
 Timestamp('2024-11-29 00:00:00', freq='C'),
 Timestamp('2024-12-02 00:00:00', freq='C'),
 Timestamp('2024-12-03 00:00:00', freq='C'),
 Timestamp('2024-12-04 00:00:00', freq='C'),
 Timestamp('2024-12-05 00:00:00', freq='C'),
 Timestamp('2024-12-06 00:00:00', freq='C'),
 Timestamp('2024-12-09 00:00:00', freq='C'),
 Timestamp('2024-12-10 00:00:00', freq='C'),
 Timestamp('2024-12-11 00:00:00', freq='C'),
 Timestamp('2024-12-12 00:00:00', freq='C'),
 Timestamp('2024-12-13 00:00:00', freq='C'),
 Timestamp('2024-12-16 00:00:00', freq='C'),
 Timestamp('2024-12-17 00:00:00', freq='C'),
 Timestamp('2024-12-18 00:00:00', freq='C'),
 Timestamp('2024-12-19 00:00:00', freq='C'),
 Timestamp('2024-12-20 00:00:00', freq='C'),
 Timestamp('2024-12-23 00:00:00', freq='C'),
 Timestamp('2024-12-24 00:00:00', freq='C'),
 Timestamp('2024-12-25 00:00:00', freq='C'),
 Timestamp('2024-12-26 00:00:00', freq='C'),
 Timestamp('2024-12-27 00:00:00', freq='C'),
 Timestamp('2024-12-30 00:00:00', freq='C'),
 Timestamp('2024-12-31 00:00:00', freq='C')]

In [31]:
egypt=CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')
ndrange=pd.date_range(start='1/1/2024',end='1/13/2024',freq=egypt)
ndrange

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-07', '2024-01-08', '2024-01-09', '2024-01-10',
               '2024-01-11'],
              dtype='datetime64[ns]', freq='C')